.input-group,
.textarea-group {
  @apply relative;

  &--white {
    --bg: theme('colors.white');
    --color: theme('colors.black');
    --placeholder: theme('colors.black/.4');
    --border: theme('colors.transparent');
    --border-width: 1px;
    --border-focus: theme('colors.transparent');
    --error: theme('colors.red');
  }

  &--outline {
    --bg: theme('colors.white');
    --color: theme('colors.black');
    --placeholder: theme('colors.black/.4');
    --border: theme('colors.auxiliary.6');
    --border-width: 2px;
    --border-focus: theme('colors.auxiliary.6');
    --error: theme('colors.red');
  }

  &--clear {
    --bg: theme('colors.transparent');
    --color: theme('colors.white');
    --placeholder: theme('colors.white/.4');
    --border: theme('colors.white');
    --border-width: 1px;
    --border-focus: theme('colors.white');
    --error: theme('colors.white');
  }

  /* Input styles */
  .input {
    @apply h-52 md:h-54 lg:h-60;
  }

  /* Textarea styles */
  .textarea {
    @apply min-h-[106px] md:min-h-[88px] lg:min-h-[98px]  resize-none;
  }

  /* General styles */
  .input,
  .textarea {
    border-width: var(--border-width);
    @apply w-full bg-[color:var(--bg)] px-16 md:px-20

    t-p2 md:t-p1 lg:text-20 text-[color:var(--color)]
    placeholder-[color:var(--placeholder)]

    border-solid border-[color:var(--border)]
    hover:border-[color:var(--border-focus)]
    focus:border-[color:var(--border-focus)] focus:ring-0

    caret-[color:var(--color)]
    outline-none rounded transition;
  }

  /* Label */
  label {
    @apply t-p2 lg:t-p3 mb-8 md:mb-12 lg:mb-16 inline-block;
  }

  /* Help message */
  .help-message {
    @apply t-caption mt-6 lg:mt-8 mb-0 text-black/60;
  }

  /* Error message */
  .error-message {
    @apply t-caption mt-6 lg:mt-8 mb-0 text-red;
  }

  /* Error */
  &.has-error {
    .input,
    .textarea {
      @apply placeholder-[color:var(--error)]
      border-[color:var(--error)]
      focus:border-[color:var(--error)];
    }

    .error-message {
      @apply text-[color:var(--error)];
    }
  }
}
