:root {
    --h-header: 32px;
    --h-header-md: 46px;
    --h-header-lg: 61px;

    --w-sidebar: 50px;
    --w-sidebar-md: 100px;
    --w-sidebar-lg: 220px;
}

.body {
    @apply h-full mb-24 md:mb-40 lg:mb-80
    pt-[calc(var(--h-header)+24px)] md:pt-[calc(var(--h-header-md)+40px)] lg:pt-[calc(var(--h-header-lg)+80px)]
}

.navbar {
    @apply py-14 w-full select-none fixed bg-primary border-b-[1px] border-additional-1 transition
        pl-[var(--w-sidebar)] md:pl-[var(--w-sidebar-md)] lg:pl-[var(--w-sidebar-lg)]
    h-[var(--h-header)] md:h-[var(--h-header-md)] lg:h-[var(--h-header-lg)] z-[10] transition;

    &__burger {
        @apply ml-16 h-[28px] w-[28px] text-additional-2 cursor-pointer transition-transform;
     }
    &.collapsed {
        .navbar__burger {
            @apply z-[100000];
            transform: translate(-160px, 0);
        }
     }
}

.sidebar {
    @apply h-full select-none fixed transition z-[20] w-[var(--w-sidebar)] md:w-[var(--w-sidebar-md)] lg:w-[var(--w-sidebar-lg)] transition-all;

    &.collapsed {
        @apply w-[62px];

        .sidebar__item-title {
            @apply hidden;
        }

        .sidebar__header {
            @apply opacity-0;
        }

        &:hover {
            @apply w-[var(--w-sidebar)] md:w-[var(--w-sidebar-md)] lg:w-[var(--w-sidebar-lg)];

            .sidebar__header {
                @apply  opacity-100;
            }
            .sidebar__item-title {
                @apply block;
            }
         }
     }

    &__head {
        @apply bg-primary flex border-r-[1px] border-purpleLight;

        &-logo {
             @apply m-10 h-[40px] w-[40px];
         }

        &-title {
             @apply text-white mt-[10px];
         }
     }

    &__body {
       @apply bg-white border-r-[1px] border-additional-1 pt-8;
     }

    &__header {
        @apply t-h3 ml-8 mb-4 mt-16;
     }


    &__item {
     @apply py-12 px-12 flex gap-16 items-center relative;
     @apply border-b-[1px] border-b-purple h-60;

     &:first-child {
        @apply border-t-purple border-t-[1px]
      }

     &-title {
        @apply t-p2;
      }

     &-bar {
      @apply h-60 w-6 bg-primary absolute left-0 top-0;
      }

     &:hover {
          @apply !bg-primary !text-white;

          > .sidebar__item-bar {
              @apply bg-green
          }
      }

     &.active {
        @apply bg-purple/30 text-black;

        > .sidebar__item-bar {
            @apply bg-green
        }
      }

     &-icon {
        @apply min-w-[26px] min-h-[26px] max-w-[26px] max-h-[26px] ml-8 my-[2px];
      }
    }
}

